* {
    margin: 0;
    padding: 0;
}

body {

    min-height: 100vh;
    background-color: #C2CFB2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    margin-top: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    width: 100vw;

}

.container p {
    text-align: center;
    margin-top: 2rem;
}

.text-box {
    display: flex;
    width: 50vw;
    height: 30vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(225deg, #e6e6e6, #ffffff);
    box-shadow: -5px 5px 10px #666666,
        5px -5px 10px #ffffff;
}

.joke {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.delivery { 
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: #666666;
}

#delivery {
    display: none;
}

.generator {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.credit{
    font-weight: bold;
}



.generator button {
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    color: black;
    background-color: #64B6AC;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    .text-box {
        width: 90vw;
        height: 100vh;
    }

    .generator p {
        width: 50vw;
    }

}